:root {
    /* --primary: #577590ff; */
    --secondary: #333;
    --secondary: #fff;
    --primary: #05668dff;
    --teal: #028090ff;
    --persian-green: #00a896ff;
    --mint: #02c39aff;
    --thidr: #f0f3bdff;
    --light: #eee;
}

body {
    position: relative;
    margin: 0;
    background-repeat: repeat-y;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: max-content;
    filter: blur(7px);
    background-repeat: repeat;
}


main {
    opacity: .87;

}