:root {
    /* --primary: #577590ff; */
    --secondary: #333;
    --secondary: #fff;
    --primary: #05668dff;
    --teal: #028090ff;
    --persian-green: #00a896ff;
    --mint: #02c39aff;
    --thidr: #f0f3bdff;
    --light: #eee;
}

body {
    position: relative;
    /* Add position relative to contain absolute positioned elements */
    /* background-color: #89b7fd56; */
    /* filter: blur(40px); */
    /* min-height: 100vh; */
    margin: 0;
    background-repeat: repeat-y;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: max-content;
    /* z-index: -1; */
    filter: blur(7px);
    background-repeat: repeat;
    /* Adjust the blur amount as per your preference */
}


main {
    /* display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row; */
    /* height: 90%; */
    opacity: .87;

}

/* for phones change some properties */